<h1>Gráfico en tiempo real</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <form class="form-signin" ngNativeValidate #f="ngForm" (ngSubmit)="updateGrafico(f)">
      <h1 class="h5 mb-3 font-weight-normal display-5">Agregar información</h1>
      <div class="form-group">
        <label>Mes</label>
        <select name="mes" class="form-control" [(ngModel)]="mes">
          <option *ngFor="let m of lineChartLabels" [value]="m">{{m}}</option>
        </select>
      </div>
      <label for="unidades" class="sr-only">Unidades</label>
      <input type="number" id="unidades" name="unidades" class="form-control" [(ngModel)]="unidades"
        placeholder="Unidades" required>
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Agregar</button>
    </form>
  </div>
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
        [chartType]="'line'">
      </canvas>
    </div>
  </div>
</div>
